.card-title {
  color: black;
  padding-bottom: 0rem ;
}


.border-radius {
  border-radius: 4px;
}

.card {
  box-shadow: 0 2px 20px rgba(236, 16, 236, 0.697);
}

.card-text {
  font-size: 18px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  /* padding-top: 12px; */
  text-indent: 30px;
  margin-bottom: 4px;
}

#title{
  font-style: bold;
  font-size: 38px;
  font-weight: 400;
}

.img-padding {
  margin-bottom: 4px;
}

.card-body {
  padding-bottom: 4px;
  height: min-content;
}

p:first-letter {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}

#poster {
  height: 1500px;
  width: auto;
}
