footer {
  text-align: center;
  display: inline-block;
  background-color: black;
  color: antiquewhite;
  width: 100%;
  left: 0;
  bottom: 0;
  height: fit-content;
  border-top: 1px solid ghostwhite;
  font-family: 'Poppins', sans-serif;
}

.footer ul{
  list-style: none;
  text-align: center;
  display: inline;
  float: none;
  margin-top: 5rem;
}

footer li {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  list-style-type: none;
  line-height: 9px;
  padding: 0 10px;
}

.footer p{
  margin-bottom: 2rem;
}

.footer ul li a:hover {
  padding: 12px;
  color: rgb(160, 34, 108);
}

.footer ul li a {
  margin: 8px;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

#portfolio-link a {
  bottom: 1rem;
  margin: 0px;
  left: 0;
  color: ghostwhite;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

#portfolio-link :hover {
  padding: 12px;
  color: rgb(160, 34, 108);
}
