.item {
  width: 100%;
  padding: 50px;
  height: fit-content;
  text-align: center;
  background-color: #000000;
  border-bottom: 1px solid #ccc;

}

.first {
  margin-top: 100px;
}

.default {
  margin-top: 64px;
}

.col-full {
  width: 1044px;
}

.card {
  margin-bottom: 2rem;
  width: auto;
}

.col {
  width: fit-content;
}

#performances{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/wide.jpg");
  background-size: cover;
  background-position: center;
}

.row.bands {
  justify-content: center;
}
